body {
  margin: 0;
  padding: 0;
}
.listCountry {
  width: max-content;
}
.country {
  display: flex;
}
.flag {
  width: 200px;
  float: right;
  margin-left: 50px;
}

.nameCountry {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.listOption {
  font-weight: 700;
}
